doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title tkppl
    link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
      section
        h2 Images
        br
        ul
          .row
          br.bullet
          li.col-md-4  
            code .img-circle
            img.img-circle.img-responsive(src='images/naruto.jpg', width='250px', height='150px')
          li.col-md-4
            code .img-thumbnail
            img.img-thumbnail.img-responsive(src='images/Hinata.png', width='250px', height='150px')
          li.col-md-4
            code .img-rounded
            img.img-rounded.img-responsive(src='images/boruto.jpg', width='250px', height='150px')
      section
        ul
          li
            h2 Responsive Images
          li
            code .img-responsive
          li
            p Kelas ini berfungsi untuk mengatur gambar dengan resolusi/kualitas gambar dengan bagus, serta menyesuaikannya dengan layar.

    script(src='build/build.js')