doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World
    link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
  article
    section
        
        .container
        h2 Horizontal form with static control
        form.form-horizontal(role='form')
            .form-group
                label.control-label.col-sm-5(for='email') Email:
                .col-sm-7
                    p.form-control-static someone@example.com
            .form-group
                label.control-label.col-sm-5(for='pwd') Password :
                .col-sm-7
                    input#pwd.form-control(type='password', placeholder='Enter password')
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Submit
        
    section
        h2 Nanti ditambah lagi :)
    
        

    script(src='build/build.js')