doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World
    link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
  article
    section
        
        .container
        h2 Horizontal form with static control
        form.form-horizontal(role='form')
            .form-group
                label.control-label.col-sm-5(for='email') Email:
                .col-sm-7
                    span.form-control-static someone@contoh.com
            .form-group
                label.control-label.col-sm-5(for='pwd') Password :
                .col-sm-7
                    input#pwd.form-control(type='password', placeholder='Enter password')
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type='submit') Submit
        
    section
        
          h2 Horizontal form: control states
          form.form-horizontal(role='form')
            .form-group
              label.col-sm-5.control-label Focused
              .col-sm-7
                input#focusedInput.form-control(type='text', value='Click to focus...')
            .form-group
              label.col-sm-5.control-label(for='inputPassword') Disabled
              .col-sm-7
                input#disabledInput.form-control(type='text', placeholder='Disabled input here...', disabled='')
            fieldset(disabled='')
              .form-group
                label.col-sm-5.control-label(for='disabledTextInput') Disabled input and select list (Fieldset disabled)
                .col-sm-7
                  input#disabledTextInput.form-control(type='text', placeholder='Disabled input')
              .form-group
                label.col-sm-5.control-label(for='disabledSelect')
                .col-sm-7
                  select#disabledSelect.form-control
                    option Disabled select
            .form-group.has-success.has-feedback
              label.col-sm-5.control-label(for='inputSuccess') Input with success and glyphicon
              .col-sm-7
                input#inputSuccess.form-control(type='text')
                span.glyphicon.glyphicon-ok.form-control-feedback
            .form-group.has-warning.has-feedback
              label.col-sm-5.control-label(for='inputWarning') Input with warning and glyphicon
              .col-sm-7
                input#inputWarning.form-control(type='text')
                span.glyphicon.glyphicon-warning-sign.form-control-feedback
            .form-group.has-error.has-feedback
              label.col-sm-5.control-label(for='inputError') Input with error and glyphicon
              .col-sm-7
                input#inputError.form-control(type='text')
                span.glyphicon.glyphicon-remove.form-control-feedback
    section
    
            h2 Inline form: control states
            form.form-inline(role='form')
            .form-group
                label(for='focusedInput') Focused
                input#focusedInput.form-control(type='text')
            .form-group
                label(for='inputPassword') Disabled
                input#disabledInput.form-control(type='text', disabled='')
            .form-group.has-success.has-feedback
                label(for='inputSuccess2') Input with success
                input#inputSuccess2.form-control(type='text')
                span.glyphicon.glyphicon-ok.form-control-feedback
            .form-group.has-warning.has-feedback
                label(for='inputWarning2') Input with warning
                input#inputWarning2.form-control(type='text')
                span.glyphicon.glyphicon-warning-sign.form-control-feedback
            .form-group.has-error.has-feedback
                label(for='inputError2') Input with error
                input#inputError2.form-control(type='text')
                span.glyphicon.glyphicon-remove.form-control-feedback
    section
    
              h2 Horizontal Button Group
              .btn-group
                button.btn.btn-primary(type='button') Numerik
                button.btn.btn-primary(type='button') APSI
                button.btn.btn-primary(type='button') TKPPL
                button.btn.btn-primary(type='button') Jarkom
                button.btn.btn-primary(type='button') PBO
              h2 Vertical Button Group
              .btn-group-vertical
                button.btn.btn-primary(type='button') Numerik
                button.btn.btn-primary(type='button') APSI
                button.btn.btn-primary(type='button') TKPPL
                button.btn.btn-primary(type='button') Jarkom
                button.btn.btn-primary(type='button') PBO
    section
        
            
              h2 Justified Button Groups
              .btn-group.btn-group-justified
                a.btn.btn-primary(href='#') Numerik
                a.btn.btn-primary(href='#') APSI
                a.btn.btn-primary(href='#') TKPPL
                a.btn.btn-primary(href='#') Jarkom
                a.btn.btn-primary(href='#') PBO
              h3 Large Buttons:
              .btn-group.btn-group-lg
                button.btn.btn-primary(type='button') Numerik
                button.btn.btn-primary(type='button') APSI
                button.btn.btn-primary(type='button') TKPPL
                button.btn.btn-primary(type='button') Jarkom
                button.btn.btn-primary(type='button') PBO
              h3 Extra Small Buttons:
              .btn-group.btn-group-xs
                button.btn.btn-primary(type='button') Numerik
                button.btn.btn-primary(type='button') APSI
                button.btn.btn-primary(type='button') TKPPL
                button.btn.btn-primary(type='button') Jarkom
                button.btn.btn-primary(type='button') PBO
    section
    
              h2 Nesting Button Groups
              .btn-group
                button.btn.btn-primary(type='button') Numerik
                button.btn.btn-primary(type='button') APSI
                button.btn.btn-primary(type='button') Jarkom
                button.btn.btn-primary(type='button') PBO
                .btn-group
                  button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                    span TKPPL 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li <a href="#">UTS</a>
                        <a href="#">Tugas</a>
                        <a href="#">UAS</a>
    section
    
              h2 Split Buttons
              .btn-group
                button.btn.btn-primary(type='button') Numerik
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                    span.caret
                ul.dropdown-menu(role='menu')
                    li <a href="#">APSI</a>
                        <a href="#">TKPPL</a>
                        <a href="#">Jarkom</a>
                        <a href="#">PBO</a>
    section
    
              h2 Dropdowns
              .dropdown
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Mata Kuliah
                  span.caret
                ul.dropdown-menu
                  li <a href="#">Numerik</a>
                        <a href="#">APSI</a>
                        <a href="#">TKPPL</a>
                        <a href="#">Jarkom</a>
                        <a href="#">PBO</a>
    section
    
              h2 Dropdowns Header
              .dropdown
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Mata Kuliah
                  span.caret
                ul.dropdown-menu
                  li.dropdown-header Dropdown header 1
                        <a href="#">Numerik</a>
                        <a href="#">APSI</a>
                        <a href="#">TKPPL</a>
                        <a href="#">Jarkom</a>
                        <a href="#">PBO</a>
    section
    
              h2 Dropdowns Disabled
              .dropdown
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Mata Kuliah
                  span.caret
                ul.dropdown-menu
                  li.disabled
                        <a href="#">Numerik</a>
                        <a href="#">APSI</a>
                        <a href="#">TKPPL</a>
                        <a href="#">Jarkom</a>
                        <a href="#">PBO</a>
                        
    section
    
              h2 Dropup
              .dropup
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Mata Kuliah
                  span.caret
                ul.dropdown-menu
                  li <a href="#">Numerik</a>
                        <a href="#">APSI</a>
                        <a href="#">TKPPL</a>
                        <a href="#">Jarkom</a>
                        <a href="#">PBO</a>
    section
        
            h2 Basic List Group
            ul.list-group
              li.list-group-item First item
              li.list-group-item Second item
              li.list-group-item Third item
            h2 List Group With Badges
            ul.list-group
              li.list-group-item
                span.badge 12
                |  New
              li.list-group-item
                span.badge 5
                |  Deleted
              li.list-group-item
                span.badge 3
                |  Warnings
    section
    
            h2 List Group With Linked Items
            .list-group
              a.list-group-item(href='#') First item
              a.list-group-item(href='#') Second item
              a.list-group-item(href='#') Third item
            h2 Active Item in a List Group
            .list-group
              a.list-group-item.active(href='#') First item
              a.list-group-item(href='#') Second item
              a.list-group-item(href='#') Third item
    section
    
            h2 List Group With a Disabled Item
            .list-group
              a.list-group-item.disabled(href='#') First item
              a.list-group-item(href='#') Second item
              a.list-group-item(href='#') Third item
    section
    
            h2 List Group With Contextual Classes
            ul.list-group
              li.list-group-item.list-group-item-success First item
              li.list-group-item.list-group-item-info Second item
              li.list-group-item.list-group-item-warning Third item
              li.list-group-item.list-group-item-danger Fourth item
    section
    
            h2 Linked Items With Contextual Classes
            .list-group
              a.list-group-item.list-group-item-success(href='#') First item
              a.list-group-item.list-group-item-info(href='#') Second item
              a.list-group-item.list-group-item-warning(href='#') Third item
              a.list-group-item.list-group-item-danger(href='#') Fourth item
    section
    
            h2 List Group With Custom Content
            .list-group
              a.list-group-item.active(href='#')
                h4.list-group-item-heading First List Group Item Heading
                p.list-group-item-text List Group Item Text
              a.list-group-item(href='#')
                h4.list-group-item-heading Second List Group Item Heading
                p.list-group-item-text List Group Item Text
              a.list-group-item(href='#')
                h4.list-group-item-heading Third List Group Item Heading
                p.list-group-item-text List Group Item Text
    section
    
            h3 Tooltip Example
            a(href='#', data-toggle='tooltip', title='GO AWAY!!!') Hover over me
          script.
            $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            });
    section
    
            h3 Tooltip Example
            p The data-placement attribute specifies the tooltip position.
            ul.list-inline
              li
                a(href='#', data-toggle='tooltip', data-placement='top', title='Hooray!') Top
              li
                a(href='#', data-toggle='tooltip', data-placement='bottom', title='Hooray!') Bottom
              li
                a(href='#', data-toggle='tooltip', data-placement='left', title='Hooray!') Left
              li
                a(href='#', data-toggle='tooltip', data-placement='right', title='Hooray!') Right
          script.
            $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            });
    section
    
            h2 Pagination
            p The .pagination class provides pagination links:
            ul.pagination
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
            h2 Pagination - Active State
            p Add class .active to let the user know which page he/she is on:
            ul.pagination
              li
                a(href='#') 1
              li.active
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
    section
    
            h2 Pagination - Disabled State
            p Add class .disabled if a page for some reason is disabled:
            ul.pagination
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li.disabled
                a(href='#') 4
              li
                a(href='#') 5
            h2 Pagination - Sizing
            p Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks:
            ul.pagination.pagination-lg
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
            ul.pagination.pagination-sm
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
    section
            h2 Breadcrumbs
            p
              | The .breadcrumb class indicates the current page's location within a navigational hierarchy:
            ul.breadcrumb
              li
                a(href='#') Home
              li
                a(href='#') Private
              li
                a(href='#') Pictures
              li.active Vacation




    script(src='build/build.js')