doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Button
        h5 Button didefinisikan sebagai "tombol tekan" yang berfungsi menjalankan suatu script apabila di-klik.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh-contoh Style pada Button
        ul
          li <button type='button' class='btn btn-default btn-lg'>Default</button>
          li <button type='button' class='btn btn-primary'>Primary</button>
          li <button type='button' class='btn btn-success'>Success</button>
          li <button type='button' class='btn btn-info'>Info</button>
          li <button type='button' class='btn btn-warning'>Warning</button>
          li <button type='button' class='btn btn-danger'>Danger</button>
          li <button type='button' class='btn btn-link'>Link</button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh-contoh Button Tags
        p Button juga bisa dibuat untuk menuju link yang diinginkan
        p Contoh button dengan link
        <a href='#' class='btn btn-info' role='button'>Link Button</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Ukuran pada Button
        p Kita juga bisa mengatur ukuran dari sebuah button
        ul
          li Ukuran-ukuran pada button terdiri dari :
          li <button type="button" class="btn btn-primary btn-lg">Large</button>
          li <button type="button" class="btn btn-primary btn-md">Medium</button>    
          li <button type="button" class="btn btn-primary btn-sm">Small</button>
          li <button type="button" class="btn btn-primary btn-xs">XSmall</button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Block Level Button
        ul
          li Contoh dari Block Level Button yaitu :
          li <button type="button" class="btn btn-primary btn-block">Button 1</button>
          li <button type="button" class="btn btn-default btn-block">Button 2</button>
          li Kita juga bisa mengatur ukuran dari Block Level Button seperti contoh dibawah ini
          li <button type="button" class="btn btn-primary btn-lg btn-block">Button 1</button>
          li <button type="button" class="btn btn-primary btn-sm btn-block">Button 1</button>
          li <button type="button" class="btn btn-default btn-lg btn-block">Button 2</button>
          li <button type="button" class="btn btn-default btn-sm btn-block">Button 2</button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Badges
        h5 Badges adalah sebuah indikator numerik dari beberapa banyak item yang dikaitkan dengan sebuah link

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh dari Badges
        ul
          li <a href="#">News <span class="badge">7</span></a><br>
          li <a href="#">Comments <span class="badge">7</span></a><br>
          li <a href="#">Updates <span class="badge">7</span></a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Badges juga bisa digabungkan pada sebuah Button
        ul
          li <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button>
          li <button type="button" class="btn btn-success">Success <span class="badge">7</span></button>
          li <button type="button" class="btn btn-danger">Danger <span class="badge">7</span></button>
          li <button type='button' class='btn btn-info'>Info <span class="badge">7</span></button>
          li <button type='button' class='btn btn-warning'>Warning <span class="badge">7</span></button>
          li <button type='button' class='btn btn-danger'>Danger <span class="badge">7</span></button>
          li <button type='button' class='btn btn-link'>Link <span class="badge">7</span></button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Labels
        h5 Labels digunakan untuk memberi informasi tambahan

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh dari Labels
        ul
          li Example 1 <span class="label label-default">1</span>
          li Example 2 <span class="label label-default">2</span>
          li Example 3 <span class="label label-default">3</span>
          li Example 4 <span class="label label-default">4</span>
          li Example 5 <span class="label label-default">5</span>
          li Example 6 <span class="label label-default">6</span>
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h4 Kita juga bisa mendefinisikan sebuah kelas untuk mengubah warna dari label
        ul
          li <span class="label label-default">Default Label</span>
          li <span class="label label-primary">Primary Label</span>
          li <span class="label label-success">Success Label</span>
          li <span class="label label-info">Info Label</span>
          li <span class="label label-warning">Warning Label</span>
          li <span class="label label-danger">Danger Label</span>

      

    script(src='build/build.js')