doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title tkppl
    link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='build/build.css')
  
  body

    article
      section
        h2 Images
        br
        ul
          .row
          br.bullet
          li.col-md-4  
            code .img-circle
            img.img-circle.img-responsive(src='images/naruto.jpg', width='250px', height='150px')
          li.col-md-4
            code .img-thumbnail
            img.img-thumbnail.img-responsive(src='images/Hinata.png', width='250px', height='150px')
          li.col-md-4
            code .img-rounded
            img.img-rounded.img-responsive(src='images/boruto.jpg', width='250px', height='150px')
        h1 Typography
        h3 Heading
        p Bootstrap mengubah style heading html menjadi
        .kotak
          h1 Heading 1 (36 px)
          h2 Heading 2 (30 px)
          h3 Heading 3 (24 px)
          h4 Heading 4 (18 px)
          h5 Heading 5 (14 px)
          h6 Heading 6 (12 px)
      section
        h1 Small
        .kotak
          h1
            | Heading 1 
            small Heading 1
          h2
            | Heading 2 
            small Heading 2
          h3
            | Heading 3 
            small Heading 3
          h4
            | Heading 4 
            small Heading 4
          h5
            | Heading 5 
            small Heading 5
          h6
            | Heading 6 
            small Heading 6
      section
        h1 Mark
        p 
          |Mark digunakan untuk membuat highlight pada suatu text dengan menambahkan
          code &lt;mark&gt;
        p 
          | Contoh : 
          mark Mark
      section
        h1 Abbr
        p 
          | Abbr digunakan untuk menambahkan garis bawah dengan bentuk titik, ketika text dengan tag 
          code &lt;abbr&gt;
          |  disorot ( hover ) akan muncul deskripsi untuk text tersebut.
        p
          | Contoh : 
          abbr(title='Contoh Abbr') Abbr
      section
        h1 Blockquote
        p Blockquote biasanya digunakan untuk menampilkan konten dari sumber luar
        p Contoh : 
        .kotakq
          blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        p 
          | Kita juga dapat menambahkan class
          code .blockquote-reverse
          | yang merupakan kebalikan dari blockquote
        p Contoh : 
        .kotakq
          blockquote.blockquote-reverse Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      section
        h1 Code
        p Bootstrap mengubah style tag 
          code &lt;code&gt;
          |  menjadi
        .kotak 
          | Contoh Penggunaan Tag 
          code &lt;code&gt;
      section
        h1 Kbd
        p Bootstrap mengubah style tag 
          code &lt;kbd&gt;
          |  menjadi
        .kotak 
          | Contoh Penggunaan Tag 
          kbd ctrl+c
      section
        h1 pre
        p Bootstrap mengubah style tag 
          code &lt;pre&gt;
          |  menjadi
        pre Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      section
        ul
          li
            h2 Responsive Images
          li
            code .img-responsive
          li
            p Kelas ini berfungsi untuk mengatur gambar dengan resolusi/kualitas gambar dengan bagus, serta menyesuaikannya dengan layar.

      section
        h2 Inputs
        ul
          li
            br
          li
            p Form tentunya kurang lengkap tanpa adanya elemen input
          li
            p Elemen-elemen inputs pada bootstrap terdiri atas :
          li
            * Inputs&nbsp;
            code &lt;input>
          li
            * Textarea&nbsp;
            code &lt;textarea>
          li
            * Checkbox&nbsp;
            code &lt;input type="checkbox">
          li
            * Radio&nbsp;
            code &lt;input type="radio">
          li
            * Select&nbsp;
            code &lt;select> &nbsp;&lt;option>&lt;/option>

      section
        ul
          li 
            br
          li 
            h2 Jenis-jenis Inputs
          li
            .form-group
              label(for='usr') &lt;input type="text"
              input#usr.form-control(type='text')
          li
            .form-group
              label(for='usr') &lt;input type="password"
              input#usr.form-control(type='password')
          li
            span kita juga dapat menambahkan atribut 'placeholder' untuk memberikan petunjuk kepada user apa yang ingin diinput
          li
            span tambahkan atribut 
            b placeholder='petunjuk'
          li
            span contoh:
            input#usr.form-control(type='password', placeholder='Masukkan kata sandi')
      section
        ul
          li
            h2 Textarea
          li
            p Memberikan inputan berukuran besar kepada user.
          li
            p Contoh :
          li
            .form-group
            label(for='comment') Comment:
            textarea#comment.form-control(rows='5')
      section
        ul
          li
            br
          li
            h2 Checkbox
          li
            p Memberikan pilihan-pilihan kepada user, dimana user dapat memilih satu pilihan atau lebih sesuai keinginan
          li
            code &lt;input type="checkbox"
          li
            b Contoh :
            .checkbox
              label
                input(type='checkbox', value='')
                span Option 1
            .checkbox
              label
                input(type='checkbox', value='')
                span Option 2
            .checkbox
              label
                input(type='checkbox', value='')
                span Option 3
          li
            span Bootstrap juga menyediakan kelas&nbsp;
            code .checkbox-inline
            span &nbsp;agar tampilan Checkbox dapat tersusun secara sejajar
          li 
            span Tambahkan&nbsp;
            code class="checkbox-inline"
            span &nbsp;pada masing-masing label
          li
            b Contoh:
            form(role='form')
              label.checkbox-inline
                input(type='checkbox', value='')
                span Option 1
              label.checkbox-inline
                input(type='checkbox', value='')
                span Option 2
              label.checkbox-inline
                input(type='checkbox', value='')
                span Option 3
      section
        ul
          li
            br
          li
            h2 Radio Button
          li
            p Sama halnya dengan checkbox, namun user hanya dapat memilih salah satu dari beberapa pilihan yang disediakan
          li
            code &lt;input type="radio" name="optradio">
          li
            span contoh:
            .radio
              label
                input(type='radio', name='optradio')
                span Option 1
            .radio
              label
                input(type='radio', name='optradio')
                span Option 2
            .radio
              label
                input(type='radio', name='optradio')
                span Option 3
          li
            span Bootstrap juga menyediakan kelas&nbsp;
            code .radio-inline
            span &nbsp;agar tampilan Radio Button dapat tersusun secara sejajar
          li 
            span Tambahkan&nbsp;
            code class="radio-inline"
            span &nbsp;pada masing-masing label
          li
            b Contoh:
            form(role='form')
              label.radio-inline
                input(type='radio', name='optradio')
                span Option 1
              label.radio-inline
                input(type='radio', name='optradio')
                span Option 2
              label.radio-inline
                input(type='radio', name='optradio')
                span Option 3
      section
        ul
          li
            h2 Select List
          li
            p Membuat list pilihan kepada user
          li
            code &lt;select><br>&lt;option>1&lt;/option><br>&lt;option>2&lt;/option><br>&lt;/select>
          li Contoh:
            .form-group
              label(for='sel1') Select list:
              select#sel1.form-control
                option Pilihan pertama
                option Pilihan kedua
                option Pilihan ketiga
                option Pilihan keempat
      section
        ul
          li
            h2 Input Sizing
          li
            p Mengatur ukuran dari elemen-elemen input yang telah kita masukkan
          li
            b Contoh Ukuran
          li
            form(role='form')
          li
            .form-group
              label(for='inputdefault') 
              p Default input
              input#inputdefault.form-control(type='text')
          li
            .form-group
              label(for='inputlg') 
              p Large input
              input#inputlg.form-control.input-lg(type='text')
              span Tambahkan kode&nbsp;
              code input-lg
              span &nbsp;pada class input.
          li    
            .form-group
              label(for='inputsm') 
              p Small input
              input#inputsm.form-control.input-sm(type='text')
              span Tambahkan kode&nbsp;
              code input-sm
              span &nbsp;pada class input.
        
      section
        ul
          li
            h2 Input Sizing : Form-Group
          li
            p Kita juga dapat membuat kelompok input-lg atau input-sm secara singkat
          li
            span Caranya adalah dengan menambahkan&nbsp;
            code form-group-lg
            span &nbsp; atau&nbsp;
            code form-group-sm
            span &nbsp;pada class div
          li
            b Contoh&nbsp;
            code form-group-lg
            br
            .form-group.form-group-lg
              label.col-sm-2.control-label(for='lg') form-group-lg
              .col-sm-10
                input#lg.form-control(type='text')
            br
            br
            pre.
              &lt;div class="form-group form-group-lg">
                &lt;label class="col-sm-2 control-label" for="lg">form-group-lg</label>
                &lt;div class="col-sm-10">
                  &lt;input class="form-control" type="text" id="lg">
                &lt;/div>
              &lt;/div>
      section
        ul    
          li
            b Contoh&nbsp;
            code form-group-sm
            br
            .form-group.form-group-sm
              label.col-sm-2.control-label(for='sm') form-group-sm
              .col-sm-10
                input#lg.form-control(type='text')
            br
            br
            pre.
              &lt;div class="form-group form-group-lg">
                &lt;label class="col-sm-2 control-label" for="lg">form-group-lg</label>
                &lt;div class="col-sm-10">
                  &lt;input class="form-control" type="text" id="lg">
                &lt;/div>
              &lt;/div>
      section
          h2 Tabs and Pills
        
          p Fitur tampilan menu yang lebih menarik
        
          h3 Tabs&nbsp;
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#home') Home
            li
              a(data-toggle='tab', href='#menu1') Menu 1
            li
              a(data-toggle='tab', href='#menu2') Menu 2
            li
              a(data-toggle='tab', href='#menu3') Menu 3
          .tab-content
            #home.tab-pane.fade.in.active
            #menu1.tab-pane.fade
            #menu2.tab-pane.fade
            #menu3.tab-pane.fade
          br
          code class="nav nav-tabs"
          
          h3 Pills&nbsp;
          ul.nav.nav-pills
            li.active
              a(data-toggle='tab', href='#home') Home
            li
              a(data-toggle='tab', href='#menu1') Menu 1
            li
              a(data-toggle='tab', href='#menu2') Menu 2
            li
              a(data-toggle='tab', href='#menu3') Menu 3
          .tab-content
            #home.tab-pane.fade.in.active
            #menu1.tab-pane.fade
            #menu2.tab-pane.fade
            #menu3.tab-pane.fade
          br
          code class="nav nav-pills"
      section
        h2 Tabs
        p Contoh pengimplementasian :
        pre.
          &lt;ul class="nav nav-tabs">
            &lt;li class="active">&lt;a href="#">Home&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Menu 1&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Menu 2&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Menu 3&lt;/a>&lt;/li>
          &lt;/ul>
      section
        h2 Pills
        p Contoh pengimplementasian :
        pre.
          &lt;ul class="nav nav-pills">
            &lt;li class="active">&lt;a href="#">Home&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Menu 1&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Menu 2&lt;/a>&lt;/li>
            &lt;li>&lt;a href="#">Menu 3&lt;/a>&lt;/li>
          &lt;/ul>
      section
        ul
          li
            h2 Progress Bars
          li
            p Contoh progress bar yang telah terisi 70%
          li
            .progress
              .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%')
                span 70%
          li
            p Code yang terkait :
            pre.      
              &lt;div class="progress"&gt;
                &lt;div class="progress-bar" role="progressbar" aria-valuenow="70" 
                aria-valuemin="0" aria-valuemax="100" style="width:70%"&gt;
                70%
                &lt;/div>
              &lt;/div>
      section
        ul
          li
            h3 Atribut yang terkait :
          li
            code role="progressbar"
            p Atribut peran
          li
            code aria-valuenow="(0-100%)""
            p Atribut Isi
          li
            code aria-valuemin="(int)"
            p Atribut Nilai Awal
          li
            code aria-valuemax="(int)"
            p Atribut Nilai Akhir
    script(src='build/build.js')