doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Button
        h4 Button didefinisikan sebagai "tombol tekan" yang berfungsi menjalankan suatu script apabila di-klik.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh-contoh Style pada Button
        ul
          li <button type='button' class='btn btn-default btn-lg'>Default</button>
          li <button type='button' class='btn btn-primary'>Primary</button>
          li <button type='button' class='btn btn-success'>Success</button>
          li <button type='button' class='btn btn-info'>Info</button>
          li <button type='button' class='btn btn-warning'>Warning</button>
          li <button type='button' class='btn btn-danger'>Danger</button>
          li <button type='button' class='btn btn-link'>Link</button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh-contoh Button Tags
        p Button juga bisa dibuat untuk menuju link yang diinginkan
        p Contoh button dengan link
        <a href='#' class='btn btn-info' role='button'>Link Button</a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Ukuran pada Button
        p Kita juga bisa mengatur ukuran dari sebuah button
        ul
          li Ukuran-ukuran pada button terdiri dari :
          li <button type="button" class="btn btn-primary btn-lg">Large</button>
          li <button type="button" class="btn btn-primary btn-md">Medium</button>    
          li <button type="button" class="btn btn-primary btn-sm">Small</button>
          li <button type="button" class="btn btn-primary btn-xs">XSmall</button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Block Level Button
        ul
          li Contoh dari Block Level Button yaitu :
          li <button type="button" class="btn btn-primary btn-block">Button 1</button>
          li <button type="button" class="btn btn-default btn-block">Button 2</button>
          li Kita juga bisa mengatur ukuran dari Block Level Button seperti contoh dibawah ini
          li <button type="button" class="btn btn-primary btn-lg btn-block">Button 1</button>
          li <button type="button" class="btn btn-primary btn-sm btn-block">Button 1</button>
          li <button type="button" class="btn btn-default btn-lg btn-block">Button 2</button>
          li <button type="button" class="btn btn-default btn-sm btn-block">Button 2</button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Badges
        h5 Badges adalah sebuah indikator numerik dari beberapa banyak item yang dikaitkan dengan sebuah link

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh dari Badges
        ul
          li <a href="#">News <span class="badge">7</span></a><br>
          li <a href="#">Comments <span class="badge">7</span></a><br>
          li <a href="#">Updates <span class="badge">7</span></a>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Badges juga bisa digabungkan pada sebuah Button
        ul
          li <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button>
          li <button type="button" class="btn btn-success">Success <span class="badge">7</span></button>
          li <button type="button" class="btn btn-danger">Danger <span class="badge">7</span></button>
          li <button type='button' class='btn btn-info'>Info <span class="badge">7</span></button>
          li <button type='button' class='btn btn-warning'>Warning <span class="badge">7</span></button>
          li <button type='button' class='btn btn-danger'>Danger <span class="badge">7</span></button>
          li <button type='button' class='btn btn-link'>Link <span class="badge">7</span></button>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Labels
        h5 Labels digunakan untuk memberi informasi tambahan

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Contoh dari Labels
        ul
          li Example 1 <span class="label label-default">1</span>
          li Example 2 <span class="label label-default">2</span>
          li Example 3 <span class="label label-default">3</span>
          li Example 4 <span class="label label-default">4</span>
          li Example 5 <span class="label label-default">5</span>
          li Example 6 <span class="label label-default">6</span>
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h4 Kita juga bisa mendefinisikan sebuah kelas untuk mengubah warna dari label
        ul
          li <span class="label label-default">Default Label</span>
          li <span class="label label-primary">Primary Label</span>
          li <span class="label label-success">Success Label</span>
          li <span class="label label-info">Info Label</span>
          li <span class="label label-warning">Warning Label</span>
          li <span class="label label-danger">Danger Label</span>

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Scrollspy
        h5 Scrollspy adalah sebuah plugin yang secara otomatis memperbaharui link dalam daftar menu berdasarkan posisi scroll kita

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        .container(data-spy='scroll', data-target='.navbar', data-offset='50')
        #pos
            nav.navbar.navbar-inverse.navbar-fixed-top
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') WebSiteName

              #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='#section1') Section 1
                  li
                    a(href='#section2') Section 2
                  li
                    a(href='#section3') Section 3
                  li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                      | Section 4 
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#section41') Section 4-1
                      li
                        a(href='#section42') Section 4-2
        #section1.container-fluid
          h1 Section 1
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        #section2.container-fluid
          h1 Section 2
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        #section3.container-fluid
          h1 Section 3
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        #section41.container-fluid
          h1 Section 4 Submenu 1
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
        #section42.container-fluid
          h1 Section 4 Submenu 2
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!
          p
            | Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Table
        h4 Table pada Bootstrap hanya memiliki pembatas horizontal

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Contoh penggunaan Table
        br
        table.table
          thead
            tr
              th Firstname
              th Lastname
              th Email
          tbody
            tr
              td Jeffrey
              td Onggo
              td Jeref@yahoo.com
            tr
              td Andy
              td Willianto
              td AnakWarung@yahoo.com
            tr
              td Christine
              td Chandra
              td CC@yahoo.com
            tr
              td Feny
              td Arifhienta
              td fenyafrenta@yahoo.com

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Dengan table-stripped kita bisa membuat tabel seperti contoh dibawah :
        br
        table.table.table-striped
          thead
            tr
              th Firstname
              th Lastname
              th Email
          tbody
            tr
              td Jeffrey
              td Onggo
              td Jeref@yahoo.com
            tr
              td Andy
              td Willianto
              td AnakWarung@yahoo.com
            tr
              td Christine
              td Chandra
              td CC@yahoo.com
            tr
              td Feny
              td Arifhienta
              td fenyafrenta@yahoo.com

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h4 Dengan menggunakan kelas table-bordered kita bisa menambahakan border/garis penghubung antar tabel
        table.table.table-bordered
          thead
            tr
              th Firstname
              th Lastname
              th Email
          tbody
            tr
              td Jeffrey
              td Onggo
              td Jeref@yahoo.com
            tr
              td Andy
              td Willianto
              td AnakWarung@yahoo.com
            tr
              td Christine
              td Chandra
              td CC@yahoo.com
            tr
              td Feny
              td Arifhienta
              td fenyafrenta@yahoo.com

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h4 Kita juga bisa mengubah warna table dengan kelas Contextual
        h4 Kelas Contextual yang bisa digunakan yaitu: .active, .success, .info, .warning, dan .danger
        table.table
          thead
            tr
              th Firstname
              th Lastname
              th Email
          tbody
            tr.success
              td Jeffrey
              td Onggo
              td Jeref@yahoo.com
            tr.info
              td Andy
              td Willianto
              td AnakWarung@yahoo.com
            tr.warning
              td Christine
              td Chandra
              td CC@yahoo.com
            tr.danger
              td Feny
              td Arifhienta
              td fenyafrenta@yahoo.com

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        table.table
          thead
            tr
              th No.
              th Firstname
              th Lastname
              th Age
              th City
              th Country
          tbody
            tr
              td 1
              td Jeffrey
              td Onggo
              td 30
              td Medan
              td Arabia
            tr
              td 2
              td Andy
              td Willianto
              td 70
              td Medan
              td Israel
            tr
              td 3
              td Christine
              td Chandra
              td 15
              td Medan
              td Jepang
            tr
              td 4
              td Feny
              td Arifhienta
              td 18
              td Medan
              td Korea

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Popover
        h4 Plugin Popover mirip dengan tooltips. Popover adalah sebuah kotak pop-uo 

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        a(href='#', data-toggle='popover', title='Popover Header', data-content='Some content inside the popover') Toggle popover
        script.
          $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
          });

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Contoh Popover
        ul.list-inline
          li <a href='#', title='Header', data-toggle='popover', data-placement='top', data-content='Content'> Top </a>
          li <a href='#', title='Header', data-toggle='popover', data-placement='bottom', data-content='Content'> Bottom </a>
          li <a href='#', title='Header', data-toggle='popover', data-placement='left', data-content='Content'> Left </a>
          li <a href='#', title='Header', data-toggle='popover', data-placement='right', data-content='Content'> Right </a>
        script.
          $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
          });

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Popover Example
        a(href='#', title='Dismissible popover', data-toggle='popover', data-trigger='focus', data-content='Click anywhere in the document to close this popover') Click me
        script.
          $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
          });

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Popover Example
        a(href='#', title='Header', data-toggle='popover', data-content='Some content') Click Me
        a(href='#', title='Header', data-toggle='popover', data-trigger='hover', data-content='Some content') Hover over me
        script.
          $(document).ready(function(){
          $('[data-toggle="popover"]').popover();
          });
     
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        

    script(src='build/build.js')